&spi1 {
	status = "okay";

	en25qh32b: en25qh32b@1 {
		reg = <1>;
		status = "okay";
		compatible = "mxicy,en25";

		jedec-id = [ 1c 70 16  ];  // EN25
		size = <(4194304 * 8)>;

		write-sector-size = <256>;
		erase-full-block-size = <65536>;
		erase-half-block-size = <32768>;
		erase-sector-size = <4096>;

		spi-max-frequency = <4000000>;

		enter-dpd-delay = <30>;
		exit-dpd-delay = <30>;

		wp-gpios = <&gpio0 22 0>;
		hold-gpios = <&gpio0 23 0>;
	};
};
